@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// Colors
$blue: #1fa2ff;
$aqua: #12d8fa;
$light-green: #a6ffcb;

// Fonts
$brand-font: 'Dawning of a New Day', cursive;
$title-font: 'Poiret One', cursive;
$text-font: 'Poppins', sans-serif;
