@use 'reset';

@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poppins:wght@200;400;500;600;700&display=swap');

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #333;
    // background: linear-gradient(to right, #159957, #155799);
}
main {
    padding: 20px;
    border: 10px solid #fff8;
}