@use 'reset';
@import 'variables';

body {
    font-size: 1rem;
    font-family: $text-font;
    line-height: 1.25;
    letter-spacing: 0.03rem;
    color: #eee;
    background-color: #222;
    // background: linear-gradient(to right, #159957, #155799);
}
main {
    position: relative;
    padding: 20px;
    margin: 20px 10px;
    border: 2px solid #12d8fa7a;
    border-radius: 20px;
}